<input type="text" (input)="onInput($event)">
<button (click)="search()">Search</button>
<br>
{{valueToFront}}
<br>
<button (click)="renderLogin()">Login</button>
<br>
<button (click)="renderRegister()">Register</button>
<br>
<div [ngSwitch]="status">
  <div *ngSwitchCase="1">
    <p>email: </p><input type="email">
    <p>name: </p><input type="text">
    <p>password: </p><input type="password">
  </div>
  <div *ngSwitchCase="2">
    <p>email: </p><input type="email">
    <p>password: </p><input type="password">
  </div>
</div>
<br>
<div *ngFor="let house of houses" style="border: 2px solid blue;">
  <p>City: {{house.city}}</p>
  <p>Meters: {{house.meters}}</p>
  <p>Price: {{house.price}}</p>
  <p>Street: {{house.street}}</p>
</div>


