<p>Input price and we will find you house! Just get a house: </p>
<input type="text" (input)="onInput($event)">
<button (click)="search()">Search</button>
<br>
{{valueToFront}}
<br>
<div *ngIf="renderSearchedHouses">
  <div *ngIf="foundedHouse" [class]="'greenBorder'">
    <p>City: {{foundedHouse.city}}</p>
    <p>Meters: {{foundedHouse.meters}}</p>
    <p>Price: {{foundedHouse.price}}</p>
    <p>Street: {{foundedHouse.street}}</p>
  </div>
  {{houseSearchError}}
</div>
<br>
<p>Maybe you want create new house?</p>
<p>City: </p>
<input type="text" (input)="onHouseInputCity($event)">
<p>Meters: </p>
<input type="number" (input)="onHouseInputMeters($event)">
<p>Price: </p>
<input type="number" (input)="onHouseInputPrice($event)">
<p>Street: </p>
<input type="text" (input)="onHouseInputStreet($event)">
<br>
<br>
<button (click)="createHouse()">Create</button>
<br>
<br>
<button (click)="renderLogin()">Login</button>
<br>
<br>
<button (click)="renderRegister()">Register</button>
<br>
<div [ngSwitch]="status">
  <div *ngSwitchCase="1">
    <form (ngSubmit)="registerUser()">
      <p>Email: </p><input type="email" name="email" [(ngModel)] = "newUser.email">
      <p>Name: </p><input type="text" name="name" [(ngModel)] = "newUser.name">
      <p>Password: </p><input type="password" name="password" [(ngModel)] = "newUser.password">
      <br>
      <button>Register</button>
    </form>
  </div>
  <div *ngSwitchCase="2">
    <form (ngSubmit)="loginUser()">
      <p>Email: </p><input type="email" name="email">
      <p>Password: </p><input type="password" name="password">
      <br>
      <button>Login</button>
    </form>
  </div>
</div>
<br>
<button (click)="renderHouses()">Houses</button>
<br>
<div *ngIf="renderAllHouses">
  <div *ngFor="let house of houses" [ngClass]="house.user.isBlocked ? 'redBorder' : 'blueBorder'">
    <p>City: {{house.city}}</p>
    <p>Meters: {{house.meters}}</p>
    <p>Price: {{house.price}}</p>
    <p>Street: {{house.street}}</p>
    <br>
    <button (click)="showFullInfo()">Show info about user</button>
    <div *ngIf="showFullInfoUser">
      <p>Email: {{house.user.email}}</p>
      <p>Name: {{house.user.name}}</p>
      <p>Is blocked: {{house.user.isBlocked}}</p>
    </div>
  </div>
</div>


